* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: auto;
}

nav {
    width: 100%;
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 98px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 88px;
    list-style: none;
}

.menu a {
    color: #202020;
    font-size: 20px;
    font-weight: 500;
    
}

.menu a:hover {
    color: #005DA9;
    transition: all 0.3s;
}

.ape {
    padding: 12px 20px;
    background: #005DA9;
    border-radius: 10px;
    color: #fff;
    font-size: 18;
    font-weight: 400;
}

.blockBaner {
    width: 100%;
    height: 714px;
    background: url(../media/fonBaner.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.Blok1 {
    width: 100%;
    height: auto;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    gap: 40px;
}


h2 {
    font-size: 30px;
     font-weight: 600;
    color: #202020;
}





.podBlock1 p {
    font-size: 18px;
    
    font-weight: 500;
    color: #202020;
}

.blok2 {
    width: 100%;
    height: 80px;
    background: #005DA9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockForm {
    width: 100%;
    height: 625px;
    background: url(../media/fonForm.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

h3 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #fff;
}

.ape2 input {
    width: 295px;
    height: 51px;
    border-radius: 10px;
    padding: 0px 20px;
    background: #fff;
    border-style: none;
    font-size: 18px;
    font-weight: 500;
}





.ape3 {
    padding: 12px 20px;
    background: #005DA9;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
   
    font-weight: 500;
    border-style: none;
    cursor: pointer;
}

.blok3 {
    width: 100%;
    height: auto;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 50px 0px;

}

.info {
    width: 600px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.info h2 {
    text-decoration: none;
    font-size: 40px;
}

.ape4 {
    padding: 12px 20px;
    background: #005DA9;
    border-radius: 10px;
    color: #fff;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer img {
    margin: 0 auto;
}

.footer {
    width: 100%;
    height: 139px;
    background: #005DA9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 98px;
}

.ape5 {
    padding: 12px 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.ape6 {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    list-style: none;
}

.ape6 a {
    color: #fff;
}

.ape7 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.Ag {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
